@model Caroline.Models.Symbol?
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">✨Go little rockstar✨</h1>
    <form>
        <button asp-controller="Symbol" asp-action="GetRandomSymbol">Random</button>
    </form>
    
    @if (Model is not null)
    {
        <div id="symbol" class="card">
            <div class="japanese">
                @Model.Japanese
            </div>
            <div id="english" class="english">
                @Model.English
            </div>
        </div>
    }
</div>