@model SymbolViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 test">✨Go little rockstar✨</h1>
    <form method="post" asp-controller="Symbol" asp-action="GetRandomSymbol">
        <select asp-for="Option">
            <option selected="selected">Japan</option>
            <option>English</option>
        </select>
        <button type="submit">Random</button>
    </form>
</div>